@import 'base/reset';

.tournament{

  width: 100%;
  height: 100%;

  min-width: 900px;

  font-size: 15px;

  .stadium{

	width: 100%;
	height: 100%;

	overflow-y: auto;
	overflow-x: hidden;

	.title{

	  height: 50px;
	  line-height: 50px;

	  font-size: 25px;
	  color: white;

	  text-align: center;

	  margin-top: 50px;
	}

	.round{

	  height: 150px;

	  line-height: 150px;

	  font-size: 70px;
	  color: white;

	  text-align: center;
	}

	.stage{

	  width: 900px;
	  height: 450px;

	  margin: 40px auto 0 auto;

	  .card-item1, .card-item2 {

		width: 400px;
		height: 450px;

		background: white;

		cursor: pointer;

		float: left;
	  }

	  .versus{

		width: 100px;
		height: 450px;

		line-height: 450px;

		text-align: center;
		vertical-align: middle;

		font-size: 50px;
		font-weight: bold;
		color: white;

		float: left;
	  }

	  .winner{

		width: 400px;
		height: 450px;

		background: white;

		overflow: hidden;

		margin: 0 auto;
	  }

	  .btn-result{

		margin-top: 40px;

		text-align: center;

		button{
		  width: 100px;
		  height: 40px;
		  border-radius: 4px;
		}
	  }

	  .card-info{

		img{
		  width: 100%;
		  height: 410px;

		  display: block;
		}

		a{

		  color: black;
		  cursor: unset;
		  display: block;
		}

		.card-name{

		  width: 100%;
		  height: 40px;

		  line-height: 40px;

		  text-align: center;

		  background: #ff00001a;
		}
	  }
	}

	.btn-prev-round{

	  text-align: center;

	  margin-top: 40px;

	  display: none;

	  button{

		width: 150px;
		height: 40px;

		border-radius: 4px;
	  }
	}

	.history{

	  text-align: center;

	  .parent{
		display: inline-block;
	  }

	  .child{
		display: inline-block;
	  }

	  .parent-info{

		position: relative;

		width: 100px;
		height: 120px;

		border: 1px gray solid;

		margin: 0 auto;
	  }

	  .child-info{

		width: 100px;
		height: 120px;

		margin-left: 5px;
		margin-right: 5px;

		display: inline-block;
		border: 1px gray solid;
	  }

	  .line1{

		position: relative;

		height: 10px;
		left: 50%;

		border-left: 1px gray solid;
	  }

	  .line2{

		width: 50%;
		border: 1px gray solid;
		border-bottom: none;
		margin: 0 auto;
		padding-bottom: 50px;
	  }

	  img{

		width: 100%;
		height: 100px;

		display: block;
	  }

	  .card-name{

		width: 100px;
		height: 20px;

		line-height: 20px;

		font-size: 11px;
		color: white;
	  }
	}
  }
}

